<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Ionic Frosted Glass</title>

    <link href="http://code.ionicframework.com/1.0.0-beta.4/css/ionic.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/contrib/ionic-contrib-frosted-glass/ionic.contrib.frostedGlass.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    
    <script src="http://code.ionicframework.com/1.0.0-beta.4/js/ionic.bundle.js"></script>
    <script src="http://code.ionicframework.com/contrib/ionic-contrib-frosted-glass/ionic.contrib.frostedGlass.js"></script>
    <script src="main.js"></script>
  </head>
  <body>
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <script id="home.html" type="text/ng-template">
      <ion-view title="Home">
        <ion-content padding="true" class="has-header" start-y="120">
          <button class="button button-block" ng-click="send(action)" ng-repeat="action in actions">
            {{action.name}}
          </button>
        </ion-content>
      </ion-view>
    </script>

    <script id="about.html" type="text/ng-template">
      <ion-view title="Screens">
        <ion-content padding="true" class="has-header" start-y="120">
          <button class="button button-block" ng-click="screen(xscreen)" ng-repeat="xscreen in screens">
            {{xscreen.name}}
          </button>
        </ion-content>
      </ion-view>
    </script>

    <script id="tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Actions" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Screens" icon="ion-ios7-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>






<!--     <ion-pane ng-controller="PageCtrl">
      <header frosted-bar class="bar bar-header bar-frosted">
        <h1 class="title">OK Lily</h1>
      </header>
      <ion-content padding="true" class="has-header" start-y="120">
        <button class="button button-block" ng-click="send(action)" ng-repeat="action in actions">
          {{action.name}}
        </button>
      
      </ion-content>
      <ion-footer-bar class="bar-frosted">
        <button class="button button-clear button-positive" ng-click="add()">Add Message</button>
      </ion-footer-bar>
    </ion-pane> -->

  </body>
</html>